# Merging and Reshaping

In [1]:
import pandas as pd
import re

Today we will be using data from two tables from different Wikipedia articles. In the commented out cell below I use pandas to read in the two tables by scraping them. I then copy and paste the dictionary into the script so you don't have to scrape Wikipedia every time.

In [2]:
'''
df=pd.read_html('https://en.wikipedia.org/wiki/List_of_U.S._states_and_territories_by_income', header=0)
state_inc=df[1].copy()
state_inc_dict=state_inc.to_dict()
print(state_inc_dict)

df=pd.read_html('https://en.wikipedia.org/wiki/List_of_U.S._states_and_territories_by_area', header=1)
state_area=df[0].copy()
state_area_dict = state_area.to_dict()
print(state_area_dict)
'''

"\ndf=pd.read_html('https://en.wikipedia.org/wiki/List_of_U.S._states_and_territories_by_income', header=0)\nstate_inc=df[1].copy()\nstate_inc_dict=state_inc.to_dict()\nprint(state_inc_dict)\n\ndf=pd.read_html('https://en.wikipedia.org/wiki/List_of_U.S._states_and_territories_by_area', header=1)\nstate_area=df[0].copy()\nstate_area_dict = state_area.to_dict()\nprint(state_area_dict)\n"

The first dictionary contains income data for all U.S. states and territores from 2014 to 2018. The second has the areas of all states and territories. (p.s. don't let your horizontal lines be this long!)

As you can see, this data looks pleasing to the eyes, but won't work well in pandas. Note the $, commas, and hyphens turn the numbers into strings. Let's clean the data up a little using what we learned last week!

In [3]:
#Cite: https://en.wikipedia.org/wiki/List_of_U.S._states_and_territories_by_income
state_inc_dict = {'Rank': {0: '1', 1: '2', 2: '3', 3: '4', 4: '5', 5: '6', 6: '7', 7: '8', 8: '9', 9: '10', 10: '11', 11: '12', 12: '13', 13: '14', 14: '15', 15: '16', 16: '17', 17: '18', 18: '19', 19: '20', 20: 'â€”', 21: '21', 22: '22', 23: '23', 24: '24', 25: '25', 26: '26', 27: '27', 28: '28', 29: '29', 30: '30', 31: '31', 32: '32', 33: '33', 34: '34', 35: '35', 36: '36', 37: '37', 38: '38', 39: '39', 40: '40', 41: '41', 42: '42', 43: '43', 44: '44', 45: '45', 46: '46', 47: '47', 48: '48', 49: '49', 50: '50', 51: '51', 52: '52', 53: '53', 54: '54', 55: '55', 56: '56'}, 'State or territory': {0: 'Washington, D.C.', 1: 'Maryland', 2: 'New Jersey', 3: 'Hawaii', 4: 'Massachusetts', 5: 'Connecticut', 6: 'California', 7: 'New Hampshire', 8: 'Alaska', 9: 'Washington', 10: 'Virginia', 11: 'Colorado', 12: 'Utah', 13: 'Minnesota', 14: 'New York', 15: 'Illinois', 16: 'Delaware', 17: 'Rhode Island', 18: 'North Dakota', 19: 'Oregon', 20: 'United States', 21: 'Wyoming', 22: 'Pennsylvania', 23: 'Vermont', 24: 'Wisconsin', 25: 'Texas', 26: 'Iowa', 27: 'Nebraska', 28: 'Arizona', 29: 'Georgia', 30: 'Nevada', 31: 'Kansas', 32: 'Michigan', 33: 'South Dakota', 34: 'Ohio', 35: 'Indiana', 36: 'Maine', 37: 'Idaho', 38: 'Florida', 39: 'Montana', 40: 'Missouri', 41: 'North Carolina', 42: 'Tennessee', 43: 'South Carolina', 44: 'Oklahoma', 45: 'Kentucky', 46: 'Alabama', 47: 'Guam', 48: 'Louisiana', 49: 'New Mexico', 50: 'Arkansas', 51: 'Mississippi', 52: 'West Virginia', 53: 'Virgin Islands (U.S.)', 54: 'American Samoa', 55: 'Northern Mariana Islands', 56: 'Puerto Rico'}, '2018': {0: '$85,203', 1: '$83,242', 2: '$81,740', 3: '$80,212', 4: '$79,835', 5: '$76,348', 6: '$75,277', 7: '$74,991', 8: '$74,346', 9: '$74,073', 10: '$72,577', 11: '$71,953', 12: '$71,414', 13: '$70,315', 14: '$67,844', 15: '$65,030', 16: '$64,805', 17: '$64,340', 18: '$63,837', 19: '$63,426', 20: '$63,179', 21: '$61,584', 22: '$60,905', 23: '$60,782', 24: '$60,773', 25: '$60,629', 26: '$59,955', 27: '$59,566', 28: '$59,246', 29: '$58,756', 30: '$58,646', 31: '$58,218', 32: '$56,697', 33: '$56,274', 34: '$56,111', 35: '$55,746', 36: '$55,602', 37: '$55,583', 38: '$55,462', 39: '$55,328', 40: '$54,478', 41: '$53,855', 42: '$52,375', 43: '$52,306', 44: '$51,924', 45: '$50,247', 46: '$49,861', 47: 'â€”', 48: '$47,905', 49: '$47,169', 50: '$47,062', 51: '$44,717', 52: '$44,097', 53: 'â€”', 54: 'â€”', 55: 'â€”', 56: '$20,296'}, '2017': {0: '$82,372', 1: '$80,776', 2: '$80,088', 3: '$77,765', 4: '$77,385', 5: '$74,168', 6: '$71,805', 7: '$73,381', 8: '$73,181', 9: '$70,979', 10: '$71,535', 11: '$69,117', 12: '$65,358', 13: '$68,388', 14: '$64,894', 15: '$62,992', 16: '$62,852', 17: '$63,870', 18: '$61,843', 19: '$60,212', 20: '$60,336', 21: '$60,434', 22: '$59,105', 23: '$57,513', 24: '$59,305', 25: '$59,206', 26: '$58,570', 27: '$59,970', 28: '$56,581', 29: '$56,183', 30: '$58,003', 31: '$56,422', 32: '$54,909', 33: '$56,521', 34: '$54,021', 35: '$54,181', 36: '$55,277', 37: '$52,225', 38: '$52,594', 39: '$53,386', 40: '$53,578', 41: '$52,752', 42: '$51,340', 43: '$50,570', 44: '$50,051', 45: '$48,375', 46: '$48,123', 47: 'â€”', 48: '$46,145', 49: '$46,744', 50: '$45,869', 51: '$43,529', 52: '$43,469', 53: 'â€”', 54: 'â€”', 55: 'â€”', 56: '$19,343'}, '2016': {0: '$75,506', 1: '$78,945', 2: '$76,126', 3: '$74,511', 4: '$75,297', 5: '$73,433', 6: '$67,739', 7: '$70,936', 8: '$76,440', 9: '$67,106', 10: '$68,114', 11: '$65,685', 12: '$65,977', 13: '$65,599', 14: '$62,909', 15: '$60,960', 16: '$61,757', 17: '$60,596', 18: '$60,656', 19: '$57,532', 20: '$57,617', 21: '$59,882', 22: '$56,907', 23: '$57,677', 24: '$56,811', 25: '$56,565', 26: '$56,247', 27: '$56,927', 28: '$53,558', 29: '$53,559', 30: '$55,180', 31: '$54,935', 32: '$52,491', 33: '$54,467', 34: '$52,344', 35: '$52,314', 36: '$53,079', 37: '$51,807', 38: '$50,860', 39: '$50,027', 40: '$51,746', 41: '$50,584', 42: '$48,547', 43: '$49,501', 44: '$49,176', 45: '$46,659', 46: '$46,257', 47: 'â€”', 48: '$45,146', 49: '$46,748', 50: '$44,334', 51: '$41,754', 52: '$43,385', 53: 'â€”', 54: 'â€”', 55: 'â€”', 56: '$20,078'}, '2015': {0: '$75,628', 1: '$75,847', 2: '$72,222', 3: '$73,486', 4: '$70,628', 5: '$71,346', 6: '$64,500', 7: '$70,303', 8: '$73,355', 9: '$64,129', 10: '$66,262', 11: '$63,909', 12: '$62,912', 13: '$63,488', 14: '$60,850', 15: '$59,588', 16: '$61,255', 17: '$58,073', 18: '$60,557', 19: '$54,148', 20: '$55,775', 21: '$60,214', 22: '$55,702', 23: '$56,990', 24: '$55,638', 25: '$55,653', 26: '$54,736', 27: '$54,996', 28: '$51,492', 29: '$51,244', 30: '$52,431', 31: '$53,906', 32: '$51,084', 33: '$53,017', 34: '$51,075', 35: '$50,532', 36: '$51,494', 37: '$48,275', 38: '$49,426', 39: '$49,509', 40: '$50,238', 41: '$47,830', 42: '$47,275', 43: '$47,238', 44: '$48,568', 45: '$45,215', 46: '$44,765', 47: 'â€”', 48: '$45,727', 49: '$45,382', 50: '$41,995', 51: '$40,593', 52: '$42,019', 53: 'â€”', 54: 'â€”', 55: 'â€”', 56: '$18,626'}, '2014[note 2]': {0: '$71,648', 1: '$73,971', 2: '$71,919', 3: '$69,592', 4: '$69,160', 5: '$70,048', 6: '$61,933', 7: '$66,532', 8: '$71,583', 9: '$61,366', 10: '$64,902', 11: '$61,303', 12: '$60,922', 13: '$61,481', 14: '$58,878', 15: '$57,444', 16: '$59,716', 17: '$54,891', 18: '$59,029', 19: '$51,075', 20: '$53,657', 21: '$57,055', 22: '$53,234', 23: '$54,166', 24: '$52,622', 25: '$53,035', 26: '$53,712', 27: '$52,686', 28: '$50,068', 29: '$49,321', 30: '$51,450', 31: '$52,504', 32: '$49,847', 33: '$50,979', 34: '$49,308', 35: '$49,446', 36: '$49,462', 37: '$47,861', 38: '$47,463', 39: '$46,328', 40: '$48,363', 41: '$46,556', 42: '$44,361', 43: '$45,238', 44: '$47,529', 45: '$42,958', 46: '$42,830', 47: '$48,274[3]', 48: '$44,555', 49: '$44,803', 50: '$41,262', 51: '$39,680', 52: '$41,059', 53: '$37,254[4]', 54: '$23,892[5]', 55: '$19,958[6]', 56: '$18,928'}}
inc_df = pd.DataFrame(state_inc_dict)
inc_df

,Rank,State or territory,2018,2017,2016,2015,2014[note 2]
0,1,"Washington, D.C.","$85,203","$82,372","$75,506","$75,628","$71,648"
1,2,Maryland,"$83,242","$80,776","$78,945","$75,847","$73,971"
2,3,New Jersey,"$81,740","$80,088","$76,126","$72,222","$71,919"
3,4,Hawaii,"$80,212","$77,765","$74,511","$73,486","$69,592"
4,5,Massachusetts,"$79,835","$77,385","$75,297","$70,628","$69,160"
5,6,Connecticut,"$76,348","$74,168","$73,433","$71,346","$70,048"
6,7,California,"$75,277","$71,805","$67,739","$64,500","$61,933"
7,8,New Hampshire,"$74,991","$73,381","$70,936","$70,303","$66,532"
8,9,Alaska,"$74,346","$73,181","$76,440","$73,355","$71,583"
9,10,Washington,"$74,073","$70,979","$67,106","$64,129","$61,366"
10,11,Virginia,"$72,577","$71,535","$68,114","$66,262","$64,902"
11,12,Colorado,"$71,953","$69,117","$65,685","$63,909","$61,303"
12,13,Utah,"$71,414","$65,358","$65,977","$62,912","$60,922"
13,14,Minnesota,"$70,315","$68,388","$65,599","$63,488","$61,481"
14,15,New York,"$67,844","$64,894","$62,909","$60,850","$58,878"
15,16,Illinois,"$65,030","$62,992","$60,960","$59,588","$57,444"
16,17,Delaware,"$64,805","$62,852","$61,757","$61,255","$59,716"
17,18,Rhode Island,"$64,340","$63,870","$60,596","$58,073","$54,891"
18,19,North Dakota,"$63,837","$61,843","$60,656","$60,557","$59,029"
19,20,Oregon,"$63,426","$60,212","$57,532","$54,148","$51,075"
20,â€”,United States,"$63,179","$60,336","$57,617","$55,775","$53,657"
21,21,Wyoming,"$61,584","$60,434","$59,882","$60,214","$57,055"
22,22,Pennsylvania,"$60,905","$59,105","$56,907","$55,702","$53,234"
23,23,Vermont,"$60,782","$57,513","$57,677","$56,990","$54,166"
24,24,Wisconsin,"$60,773","$59,305","$56,811","$55,638","$52,622"
25,25,Texas,"$60,629","$59,206","$56,565","$55,653","$53,035"
26,26,Iowa,"$59,955","$58,570","$56,247","$54,736","$53,712"
27,27,Nebraska,"$59,566","$59,970","$56,927","$54,996","$52,686"
28,28,Arizona,"$59,246","$56,581","$53,558","$51,492","$50,068"
29,29,Georgia,"$58,756","$56,183","$53,559","$51,244","$49,321"
30,30,Nevada,"$58,646","$58,003","$55,180","$52,431","$51,450"
31,31,Kansas,"$58,218","$56,422","$54,935","$53,906","$52,504"
32,32,Michigan,"$56,697","$54,909","$52,491","$51,084","$49,847"
33,33,South Dakota,"$56,274","$56,521","$54,467","$53,017","$50,979"
34,34,Ohio,"$56,111","$54,021","$52,344","$51,075","$49,308"
35,35,Indiana,"$55,746","$54,181","$52,314","$50,532","$49,446"
36,36,Maine,"$55,602","$55,277","$53,079","$51,494","$49,462"
37,37,Idaho,"$55,583","$52,225","$51,807","$48,275","$47,861"
38,38,Florida,"$55,462","$52,594","$50,860","$49,426","$47,463"
39,39,Montana,"$55,328","$53,386","$50,027","$49,509","$46,328"
40,40,Missouri,"$54,478","$53,578","$51,746","$50,238","$48,363"
41,41,North Carolina,"$53,855","$52,752","$50,584","$47,830","$46,556"
42,42,Tennessee,"$52,375","$51,340","$48,547","$47,275","$44,361"
43,43,South Carolina,"$52,306","$50,570","$49,501","$47,238","$45,238"
44,44,Oklahoma,"$51,924","$50,051","$49,176","$48,568","$47,529"
45,45,Kentucky,"$50,247","$48,375","$46,659","$45,215","$42,958"
46,46,Alabama,"$49,861","$48,123","$46,257","$44,765","$42,830"
47,47,Guam,â€”,â€”,â€”,â€”,"$48,274[3]"
48,48,Louisiana,"$47,905","$46,145","$45,146","$45,727","$44,555"
49,49,New Mexico,"$47,169","$46,744","$46,748","$45,382","$44,803"
50,50,Arkansas,"$47,062","$45,869","$44,334","$41,995","$41,262"
51,51,Mississippi,"$44,717","$43,529","$41,754","$40,593","$39,680"
52,52,West Virginia,"$44,097","$43,469","$43,385","$42,019","$41,059"
53,53,Virgin Islands (U.S.),â€”,â€”,â€”,â€”,"$37,254[4]"
54,54,American Samoa,â€”,â€”,â€”,â€”,"$23,892[5]"
55,55,Northern Mariana Islands,â€”,â€”,â€”,â€”,"$19,958[6]"
56,56,Puerto Rico,"$20,296","$19,343","$20,078","$18,626","$18,928"

In [4]:
#Cite: https://en.wikipedia.org/wiki/List_of_U.S._states_and_territories_by_area
nan='NaN'
state_area_dict={'State': {0: 'Alaska', 1: 'Texas', 2: 'California', 3: 'Montana', 4: 'New Mexico', 5: 'Arizona', 6: 'Nevada', 7: 'Colorado', 8: 'Oregon', 9: 'Wyoming', 10: 'Michigan', 11: 'Minnesota', 12: 'Utah', 13: 'Idaho', 14: 'Kansas', 15: 'Nebraska', 16: 'South Dakota', 17: 'Washington', 18: 'North Dakota', 19: 'Oklahoma', 20: 'Missouri', 21: 'Florida', 22: 'Wisconsin', 23: 'Georgia', 24: 'Illinois', 25: 'Iowa', 26: 'New York', 27: 'North Carolina', 28: 'Arkansas', 29: 'Alabama', 30: 'Louisiana', 31: 'Mississippi', 32: 'Pennsylvania', 33: 'Ohio', 34: 'Virginia', 35: 'Tennessee', 36: 'Kentucky', 37: 'Indiana', 38: 'Maine', 39: 'South Carolina', 40: 'West Virginia', 41: 'Maryland', 42: 'Hawaii', 43: 'Massachusetts', 44: 'Vermont', 45: 'New Hampshire', 46: 'New Jersey', 47: 'Connecticut', 48: 'Delaware', 49: 'Rhode Island', 50: 'District of Columbia', 51: 'Puerto Rico', 52: 'Northern Mariana Islands', 53: 'United States Virgin Islands', 54: 'American Samoa', 55: 'Guam', 56: 'Minor Outlying Islands[3][a]', 57: 'Contiguous United States', 58: '50 states and District of Columbia', 59: 'All 50 states, District of Columbia, and U.S. territories'}, 'Rank': {0: '1', 1: '2', 2: '3', 3: '4', 4: '5', 5: '6', 6: '7', 7: '8', 8: '9', 9: '10', 10: '11', 11: '12', 12: '13', 13: '14', 14: '15', 15: '16', 16: '17', 17: '18', 18: '19', 19: '20', 20: '21', 21: '22', 22: '23', 23: '24', 24: '25', 25: '26', 26: '27', 27: '28', 28: '29', 29: '30', 30: '31', 31: '32', 32: '33', 33: '34', 34: '35', 35: '36', 36: '37', 37: '38', 38: '39', 39: '40', 40: '41', 41: '42', 42: '43', 43: '44', 44: '45', 45: '46', 46: '47', 47: '48', 48: '49', 49: '50', 50: 'â€”', 51: 'â€”', 52: 'â€”', 53: 'â€”', 54: 'â€”', 55: 'â€”', 56: 'â€”', 57: 'Total', 58: 'Total', 59: 'Total'}, 'sq mi': {0: 665384.04, 1: 268596.46, 2: 163694.74, 3: 147039.71, 4: 121590.3, 5: 113990.3, 6: 110571.82, 7: 104093.67, 8: 98378.54, 9: 97813.01, 10: 96713.51, 11: 86935.83, 12: 84896.88, 13: 83568.95, 14: 82278.36, 15: 77347.81, 16: 77115.68, 17: 71297.95, 18: 70698.32, 19: 69898.87, 20: 69706.99, 21: 65757.7, 22: 65496.38, 23: 59425.15, 24: 57913.55, 25: 56272.81, 26: 54554.98, 27: 53819.16, 28: 53178.55, 29: 52420.07, 30: 52378.13, 31: 48431.78, 32: 46054.34, 33: 44825.58, 34: 42774.93, 35: 42144.25, 36: 40407.8, 37: 36419.55, 38: 35379.74, 39: 32020.49, 40: 24230.04, 41: 12405.93, 42: 10931.72, 43: 10554.39, 44: 9616.36, 45: 9349.16, 46: 8722.58, 47: 5543.41, 48: 2488.72, 49: 1544.89, 50: 68.34, 51: 5324.84, 52: 1975.57, 53: 732.93, 54: 581.05, 55: 570.62, 56: 16.0, 57: 3120426.47, 58: 3796742.23, 59: 3805943.26}, 'km2': {0: 1723337, 1: 695662, 2: 423967, 3: 380831, 4: 314917, 5: 295234, 6: 286380, 7: 269601, 8: 254799, 9: 253335, 10: 250487, 11: 225163, 12: 219882, 13: 216443, 14: 213100, 15: 200330, 16: 199729, 17: 184661, 18: 183108, 19: 181037, 20: 180540, 21: 170312, 22: 169635, 23: 153910, 24: 149995, 25: 145746, 26: 141297, 27: 139391, 28: 137732, 29: 135767, 30: 135659, 31: 125438, 32: 119280, 33: 116098, 34: 110787, 35: 109153, 36: 104656, 37: 94326, 38: 91633, 39: 82933, 40: 62756, 41: 32131, 42: 28313, 43: 27336, 44: 24906, 45: 24214, 46: 22591, 47: 14357, 48: 6446, 49: 4001, 50: 177, 51: 13791, 52: 5117, 53: 1898, 54: 1505, 55: 1478, 56: 41, 57: 8081867, 58: 9833517, 59: 9857348}, 'Rank.1': {0: '1', 1: '2', 2: '3', 3: '4', 4: '5', 5: '6', 6: '7', 7: '8', 8: '10', 9: '9', 10: '22', 11: '14', 12: '12', 13: '11', 14: '13', 15: '15', 16: '16', 17: '20', 18: '17', 19: '19', 20: '18', 21: '26', 22: '25', 23: '21', 24: '24', 25: '23', 26: '30', 27: '29', 28: '27', 29: '28', 30: '33', 31: '31', 32: '32', 33: '35', 34: '36', 35: '34', 36: '37', 37: '38', 38: '39', 39: '40', 40: '41', 41: '42', 42: '47', 43: '45', 44: '43', 45: '44', 46: '46', 47: '48', 48: '49', 49: '50', 50: 'â€”', 51: 'â€”', 52: 'â€”', 53: 'â€”', 54: 'â€”', 55: 'â€”', 56: 'â€”', 57: nan, 58: 'â€”', 59: nan}, 'sq mi.1': {0: 570640.95, 1: 261231.71, 2: 155779.22, 3: 145545.8, 4: 121298.15, 5: 113594.08, 6: 109781.18, 7: 103641.89, 8: 95988.01, 9: 97093.14, 10: 56538.9, 11: 79626.74, 12: 82169.62, 13: 82643.12, 14: 81758.72, 15: 76824.17, 16: 75811.0, 17: 66455.52, 18: 69000.8, 19: 68594.92, 20: 68741.52, 21: 53624.76, 22: 54157.8, 23: 57513.49, 24: 55518.93, 25: 55857.13, 26: 47126.4, 27: 48617.91, 28: 52035.48, 29: 50645.33, 30: 43203.9, 31: 46923.27, 32: 44742.7, 33: 40860.69, 34: 39490.09, 35: 41234.9, 36: 39486.34, 37: 35826.11, 38: 30842.92, 39: 30060.7, 40: 24038.21, 41: 9707.24, 42: 6422.63, 43: 7800.06, 44: 9216.66, 45: 8952.65, 46: 7354.22, 47: 4842.36, 48: 1948.54, 49: 1033.81, 50: 61.05, 51: 3423.78, 52: 182.33, 53: 134.32, 54: 76.46, 55: 209.8, 56: 16.0, 57: 2954841.42, 58: 3531905.43, 59: 3535948.12}, 'km2.1': {0: 1477953, 1: 676587, 2: 403466, 3: 376962, 4: 314161, 5: 294207, 6: 284332, 7: 268431, 8: 248608, 9: 251470, 10: 146435, 11: 206232, 12: 212818, 13: 214045, 14: 211754, 15: 198974, 16: 196350, 17: 172119, 18: 178711, 19: 177660, 20: 178040, 21: 138887, 22: 140268, 23: 148959, 24: 143793, 25: 144669, 26: 122057, 27: 125920, 28: 134771, 29: 131171, 30: 111898, 31: 121531, 32: 115883, 33: 105829, 34: 102279, 35: 106798, 36: 102269, 37: 92789, 38: 79883, 39: 77857, 40: 62259, 41: 25142, 42: 16635, 43: 20202, 44: 23871, 45: 23187, 46: 19047, 47: 12542, 48: 5047, 49: 2678, 50: 158, 51: 8868, 52: 472, 53: 348, 54: 198, 55: 543, 56: 41, 57: 7653004, 58: 9147593, 59: 9158064}, '% land': {0: nan, 1: nan, 2: nan, 3: nan, 4: nan, 5: nan, 6: nan, 7: nan, 8: nan, 9: nan, 10: nan, 11: nan, 12: nan, 13: nan, 14: nan, 15: nan, 16: nan, 17: nan, 18: nan, 19: nan, 20: nan, 21: nan, 22: nan, 23: nan, 24: nan, 25: nan, 26: nan, 27: nan, 28: nan, 29: nan, 30: nan, 31: nan, 32: nan, 33: nan, 34: nan, 35: nan, 36: nan, 37: nan, 38: nan, 39: nan, 40: nan, 41: nan, 42: nan, 43: nan, 44: nan, 45: nan, 46: nan, 47: nan, 48: nan, 49: nan, 50: nan, 51: nan, 52: nan, 53: nan, 54: nan, 55: nan, 56: 'â€”', 57: nan, 58: nan, 59: nan}, 'Rank.2': {0: '1', 1: '8', 2: '6', 3: '26', 4: '49', 5: '48', 6: '36', 7: '44', 8: '20', 9: '37', 10: '2', 11: '9', 12: '17', 13: '33', 14: '42', 15: '41', 16: '29', 17: '11', 18: '24', 19: '30', 20: '32', 21: '3', 22: '4', 23: '22', 24: '19', 25: '45', 26: '7', 27: '10', 28: '31', 29: '23', 30: '5', 31: '25', 32: '28', 33: '14', 34: '15', 35: '35', 36: '34', 37: '39', 38: '12', 39: '21', 40: '50', 41: '18', 42: '13', 43: '16', 44: '46', 45: '47', 46: '27', 47: '38', 48: '40', 49: '43', 50: 'â€”', 51: 'â€”', 52: 'â€”', 53: nan, 54: nan, 55: nan, 56: 'â€”', 57: 'â€”', 58: 'â€”', 59: 'â€”'}, 'sq mi.2': {0: '94743.10', 1: '7364.75', 2: '7915.52', 3: '1493.91', 4: '292.15', 5: '396.22', 6: '790.65', 7: '451.78', 8: '2390.53', 9: '719.87', 10: '40174.61', 11: '7309.09', 12: '2727.26', 13: '925.83', 14: '519.64', 15: '523.64', 16: '1304.68', 17: '4842.43', 18: '1697.52', 19: '1303.95', 20: '965.47', 21: '12132.94', 22: '11338.57', 23: '1911.66', 24: '2394.62', 25: '415.68', 26: '7428.58', 27: '5201.25', 28: '1143.07', 29: '1774.74', 30: '9174.23', 31: '1508.51', 32: '1311.64', 33: '3964.89', 34: '3284.84', 35: '909.36', 36: '921.46', 37: '593.44', 38: '4536.82', 39: '1959.79', 40: '191.83', 41: '2698.69', 42: '4509.09', 43: '2754.33', 44: '399.71', 45: '396.51', 46: '1368.36', 47: '701.06', 48: '540.18', 49: '511.07', 50: '7.29', 51: '1901.07', 52: '1793.24', 53: '598.61', 54: '504.60', 55: '360.82', 56: 'â€”', 57: '165584.6', 58: '264836.79', 59: '269995.13'}, 'km2.2': {0: '245384', 1: '19075', 2: '20501', 3: '3869', 4: '757', 5: '1026', 6: '2048', 7: '1170', 8: '6191', 9: '1864', 10: '104052', 11: '18930', 12: '7064', 13: '2398', 14: '1346', 15: '1356', 16: '3379', 17: '12542', 18: '4397', 19: '3377', 20: '2501', 21: '31424', 22: '29367', 23: '4951', 24: '6202', 25: '1077', 26: '19240', 27: '13471', 28: '2961', 29: '4597', 30: '23761', 31: '3907', 32: '3397', 33: '10269', 34: '8508', 35: '2355', 36: '2387', 37: '1537', 38: '11750', 39: '5076', 40: '497', 41: '6990', 42: '11678', 43: '7134', 44: '1035', 45: '1027', 46: '3544', 47: '1816', 48: '1399', 49: '1324', 50: '19', 51: '4924', 52: '4644', 53: '1550', 54: '1307', 55: '935', 56: 'â€”', 57: '428862', 58: '685924', 59: '699284'}, '% water': {0: nan, 1: nan, 2: nan, 3: nan, 4: nan, 5: nan, 6: nan, 7: nan, 8: nan, 9: nan, 10: nan, 11: nan, 12: nan, 13: nan, 14: nan, 15: nan, 16: nan, 17: nan, 18: nan, 19: nan, 20: nan, 21: nan, 22: nan, 23: nan, 24: nan, 25: nan, 26: nan, 27: nan, 28: nan, 29: nan, 30: nan, 31: nan, 32: nan, 33: nan, 34: nan, 35: nan, 36: nan, 37: nan, 38: nan, 39: nan, 40: nan, 41: nan, 42: nan, 43: nan, 44: nan, 45: nan, 46: nan, 47: nan, 48: nan, 49: nan, 50: nan, 51: nan, 52: nan, 53: nan, 54: nan, 55: nan, 56: 'â€”', 57: nan, 58: nan, 59: nan}}
area_df = pd.DataFrame(state_area_dict)
area_df

,State,Rank,sq mi,km2,Rank.1,sq mi.1,km2.1,% land,Rank.2,sq mi.2,km2.2,% water
0,Alaska,1,665384.04,1723337,1,570640.95,1477953,NaN,1,94743.10,245384,NaN
1,Texas,2,268596.46,695662,2,261231.71,676587,NaN,8,7364.75,19075,NaN
2,California,3,163694.74,423967,3,155779.22,403466,NaN,6,7915.52,20501,NaN
3,Montana,4,147039.71,380831,4,145545.80,376962,NaN,26,1493.91,3869,NaN
4,New Mexico,5,121590.30,314917,5,121298.15,314161,NaN,49,292.15,757,NaN
5,Arizona,6,113990.30,295234,6,113594.08,294207,NaN,48,396.22,1026,NaN
6,Nevada,7,110571.82,286380,7,109781.18,284332,NaN,36,790.65,2048,NaN
7,Colorado,8,104093.67,269601,8,103641.89,268431,NaN,44,451.78,1170,NaN
8,Oregon,9,98378.54,254799,10,95988.01,248608,NaN,20,2390.53,6191,NaN
9,Wyoming,10,97813.01,253335,9,97093.14,251470,NaN,37,719.87,1864,NaN
10,Michigan,11,96713.51,250487,22,56538.90,146435,NaN,2,40174.61,104052,NaN
11,Minnesota,12,86935.83,225163,14,79626.74,206232,NaN,9,7309.09,18930,NaN
12,Utah,13,84896.88,219882,12,82169.62,212818,NaN,17,2727.26,7064,NaN
13,Idaho,14,83568.95,216443,11,82643.12,214045,NaN,33,925.83,2398,NaN
14,Kansas,15,82278.36,213100,13,81758.72,211754,NaN,42,519.64,1346,NaN
15,Nebraska,16,77347.81,200330,15,76824.17,198974,NaN,41,523.64,1356,NaN
16,South Dakota,17,77115.68,199729,16,75811.00,196350,NaN,29,1304.68,3379,NaN
17,Washington,18,71297.95,184661,20,66455.52,172119,NaN,11,4842.43,12542,NaN
18,North Dakota,19,70698.32,183108,17,69000.80,178711,NaN,24,1697.52,4397,NaN
19,Oklahoma,20,69898.87,181037,19,68594.92,177660,NaN,30,1303.95,3377,NaN
20,Missouri,21,69706.99,180540,18,68741.52,178040,NaN,32,965.47,2501,NaN
21,Florida,22,65757.70,170312,26,53624.76,138887,NaN,3,12132.94,31424,NaN
22,Wisconsin,23,65496.38,169635,25,54157.80,140268,NaN,4,11338.57,29367,NaN
23,Georgia,24,59425.15,153910,21,57513.49,148959,NaN,22,1911.66,4951,NaN
24,Illinois,25,57913.55,149995,24,55518.93,143793,NaN,19,2394.62,6202,NaN
25,Iowa,26,56272.81,145746,23,55857.13,144669,NaN,45,415.68,1077,NaN
26,New York,27,54554.98,141297,30,47126.40,122057,NaN,7,7428.58,19240,NaN
27,North Carolina,28,53819.16,139391,29,48617.91,125920,NaN,10,5201.25,13471,NaN
28,Arkansas,29,53178.55,137732,27,52035.48,134771,NaN,31,1143.07,2961,NaN
29,Alabama,30,52420.07,135767,28,50645.33,131171,NaN,23,1774.74,4597,NaN
30,Louisiana,31,52378.13,135659,33,43203.90,111898,NaN,5,9174.23,23761,NaN
31,Mississippi,32,48431.78,125438,31,46923.27,121531,NaN,25,1508.51,3907,NaN
32,Pennsylvania,33,46054.34,119280,32,44742.70,115883,NaN,28,1311.64,3397,NaN
33,Ohio,34,44825.58,116098,35,40860.69,105829,NaN,14,3964.89,10269,NaN
34,Virginia,35,42774.93,110787,36,39490.09,102279,NaN,15,3284.84,8508,NaN
35,Tennessee,36,42144.25,109153,34,41234.90,106798,NaN,35,909.36,2355,NaN
36,Kentucky,37,40407.80,104656,37,39486.34,102269,NaN,34,921.46,2387,NaN
37,Indiana,38,36419.55,94326,38,35826.11,92789,NaN,39,593.44,1537,NaN
38,Maine,39,35379.74,91633,39,30842.92,79883,NaN,12,4536.82,11750,NaN
39,South Carolina,40,32020.49,82933,40,30060.70,77857,NaN,21,1959.79,5076,NaN
40,West Virginia,41,24230.04,62756,41,24038.21,62259,NaN,50,191.83,497,NaN
41,Maryland,42,12405.93,32131,42,9707.24,25142,NaN,18,2698.69,6990,NaN
42,Hawaii,43,10931.72,28313,47,6422.63,16635,NaN,13,4509.09,11678,NaN
43,Massachusetts,44,10554.39,27336,45,7800.06,20202,NaN,16,2754.33,7134,NaN
44,Vermont,45,9616.36,24906,43,9216.66,23871,NaN,46,399.71,1035,NaN
45,New Hampshire,46,9349.16,24214,44,8952.65,23187,NaN,47,396.51,1027,NaN
46,New Jersey,47,8722.58,22591,46,7354.22,19047,NaN,27,1368.36,3544,NaN
47,Connecticut,48,5543.41,14357,48,4842.36,12542,NaN,38,701.06,1816,NaN
48,Delaware,49,2488.72,6446,49,1948.54,5047,NaN,40,540.18,1399,NaN
49,Rhode Island,50,1544.89,4001,50,1033.81,2678,NaN,43,511.07,1324,NaN
50,District of Columbia,â€”,68.34,177,â€”,61.05,158,NaN,â€”,7.29,19,NaN
51,Puerto Rico,â€”,5324.84,13791,â€”,3423.78,8868,NaN,â€”,1901.07,4924,NaN
52,Northern Mariana Islands,â€”,1975.57,5117,â€”,182.33,472,NaN,â€”,1793.24,4644,NaN
53,United States Virgin Islands,â€”,732.93,1898,â€”,134.32,348,NaN,NaN,598.61,1550,NaN
54,American Samoa,â€”,581.05,1505,â€”,76.46,198,NaN,NaN,504.60,1307,NaN
55,Guam,â€”,570.62,1478,â€”,209.80,543,NaN,NaN,360.82,935,NaN
56,Minor Outlying Islands[3][a],â€”,16.00,41,â€”,16.00,41,â€”,â€”,â€”,â€”,â€”
57,Contiguous United States,Total,3120426.47,8081867,NaN,2954841.42,7653004,NaN,â€”,165584.6,428862,NaN
58,50 states and District of Columbia,Total,3796742.23,9833517,â€”,3531905.43,9147593,NaN,â€”,264836.79,685924,NaN
59,"All 50 states, District of Columbia, and U.S. ...",Total,3805943.26,9857348,NaN,3535948.12,9158064,NaN,â€”,269995.13,699284,NaN

% land and % water shouldn't be new columns, they were subheadings in the original article. Let's drop them.

In [5]:
area_df=area_df.drop(['% land','% water'], axis=1)
area_df.head()

,State,Rank,sq mi,km2,Rank.1,sq mi.1,km2.1,Rank.2,sq mi.2,km2.2
0,Alaska,1,665384.04,1723337,1,570640.95,1477953,1,94743.10,245384
1,Texas,2,268596.46,695662,2,261231.71,676587,8,7364.75,19075
2,California,3,163694.74,423967,3,155779.22,403466,6,7915.52,20501
3,Montana,4,147039.71,380831,4,145545.80,376962,26,1493.91,3869
4,New Mexico,5,121590.30,314917,5,121298.15,314161,49,292.15,757

On second thought, let's only keep the state name, and the info about total area. While we're at it, let's drop the observations 52 and above. Here we'll use .iloc, because I think it's the least intuitive way to slice a dataframe.

In [6]:
area_df = area_df.iloc[:51,0:3]
area_df

                   State Rank      sq mi
0                 Alaska    1  665384.04
1                  Texas    2  268596.46
2             California    3  163694.74
3                Montana    4  147039.71
4             New Mexico    5  121590.30
5                Arizona    6  113990.30
6                 Nevada    7  110571.82
7               Colorado    8  104093.67
8                 Oregon    9   98378.54
9                Wyoming   10   97813.01
10              Michigan   11   96713.51
11             Minnesota   12   86935.83
12                  Utah   13   84896.88
13                 Idaho   14   83568.95
14                Kansas   15   82278.36
15              Nebraska   16   77347.81
16          South Dakota   17   77115.68
17            Washington   18   71297.95
18          North Dakota   19   70698.32
19              Oklahoma   20   69898.87
20              Missouri   21   69706.99
21               Florida   22   65757.70
22             Wisconsin   23   65496.38
23               Georgia   24   59425.15
24              Illinois   25   57913.55
25                  Iowa   26   56272.81
26              New York   27   54554.98
27        North Carolina   28   53819.16
28              Arkansas   29   53178.55
29               Alabama   30   52420.07
30             Louisiana   31   52378.13
31           Mississippi   32   48431.78
32          Pennsylvania   33   46054.34
33                  Ohio   34   44825.58
34              Virginia   35   42774.93
35             Tennessee   36   42144.25
36              Kentucky   37   40407.80
37               Indiana   38   36419.55
38                 Maine   39   35379.74
39        South Carolina   40   32020.49
40         West Virginia   41   24230.04
41              Maryland   42   12405.93
42                Hawaii   43   10931.72
43         Massachusetts   44   10554.39
44               Vermont   45    9616.36
45         New Hampshire   46    9349.16
46            New Jersey   47    8722.58
47           Connecticut   48    5543.41
48              Delaware   49    2488.72
49          Rhode Island   50    1544.89
50  District of Columbia    â€”      68.34

Now on to the income dataframe! It looks like the footnote got added to the column 2014, let's fix that.

In [7]:
inc_df.head()

  Rank State or territory     2018     2017     2016     2015 2014[note 2]
0    1   Washington, D.C.  $85,203  $82,372  $75,506  $75,628      $71,648
1    2           Maryland  $83,242  $80,776  $78,945  $75,847      $73,971
2    3         New Jersey  $81,740  $80,088  $76,126  $72,222      $71,919
3    4             Hawaii  $80,212  $77,765  $74,511  $73,486      $69,592
4    5      Massachusetts  $79,835  $77,385  $75,297  $70,628      $69,160

In [8]:
inc_df=inc_df.rename({'2014[note 2]': '2014'},axis=1)

In [9]:
inc_df.head()

  Rank State or territory     2018     2017     2016     2015     2014
0    1   Washington, D.C.  $85,203  $82,372  $75,506  $75,628  $71,648
1    2           Maryland  $83,242  $80,776  $78,945  $75,847  $73,971
2    3         New Jersey  $81,740  $80,088  $76,126  $72,222  $71,919
3    4             Hawaii  $80,212  $77,765  $74,511  $73,486  $69,592
4    5      Massachusetts  $79,835  $77,385  $75,297  $70,628  $69,160

Now lets take out all strings from the columns that should be numeric. Don't forget to cite your sources!

In [10]:
#https://stackoverflow.com/questions/14596884/remove-text-between-and
for year in inc_df.columns[2:]:
    inc_df[year]=inc_df[year].apply(lambda x: re.sub("[\(\[].*?[\)\]]", "", x).replace\
                                    ('$','').replace(',','').replace('â€”','0'))
inc_df

   Rank        State or territory   2018   2017   2016   2015   2014
0     1          Washington, D.C.  85203  82372  75506  75628  71648
1     2                  Maryland  83242  80776  78945  75847  73971
2     3                New Jersey  81740  80088  76126  72222  71919
3     4                    Hawaii  80212  77765  74511  73486  69592
4     5             Massachusetts  79835  77385  75297  70628  69160
5     6               Connecticut  76348  74168  73433  71346  70048
6     7                California  75277  71805  67739  64500  61933
7     8             New Hampshire  74991  73381  70936  70303  66532
8     9                    Alaska  74346  73181  76440  73355  71583
9    10                Washington  74073  70979  67106  64129  61366
10   11                  Virginia  72577  71535  68114  66262  64902
11   12                  Colorado  71953  69117  65685  63909  61303
12   13                      Utah  71414  65358  65977  62912  60922
13   14                 Minnesota  70315  68388  65599  63488  61481
14   15                  New York  67844  64894  62909  60850  58878
15   16                  Illinois  65030  62992  60960  59588  57444
16   17                  Delaware  64805  62852  61757  61255  59716
17   18              Rhode Island  64340  63870  60596  58073  54891
18   19              North Dakota  63837  61843  60656  60557  59029
19   20                    Oregon  63426  60212  57532  54148  51075
20    â€”             United States  63179  60336  57617  55775  53657
21   21                   Wyoming  61584  60434  59882  60214  57055
22   22              Pennsylvania  60905  59105  56907  55702  53234
23   23                   Vermont  60782  57513  57677  56990  54166
24   24                 Wisconsin  60773  59305  56811  55638  52622
25   25                     Texas  60629  59206  56565  55653  53035
26   26                      Iowa  59955  58570  56247  54736  53712
27   27                  Nebraska  59566  59970  56927  54996  52686
28   28                   Arizona  59246  56581  53558  51492  50068
29   29                   Georgia  58756  56183  53559  51244  49321
30   30                    Nevada  58646  58003  55180  52431  51450
31   31                    Kansas  58218  56422  54935  53906  52504
32   32                  Michigan  56697  54909  52491  51084  49847
33   33              South Dakota  56274  56521  54467  53017  50979
34   34                      Ohio  56111  54021  52344  51075  49308
35   35                   Indiana  55746  54181  52314  50532  49446
36   36                     Maine  55602  55277  53079  51494  49462
37   37                     Idaho  55583  52225  51807  48275  47861
38   38                   Florida  55462  52594  50860  49426  47463
39   39                   Montana  55328  53386  50027  49509  46328
40   40                  Missouri  54478  53578  51746  50238  48363
41   41            North Carolina  53855  52752  50584  47830  46556
42   42                 Tennessee  52375  51340  48547  47275  44361
43   43            South Carolina  52306  50570  49501  47238  45238
44   44                  Oklahoma  51924  50051  49176  48568  47529
45   45                  Kentucky  50247  48375  46659  45215  42958
46   46                   Alabama  49861  48123  46257  44765  42830
47   47                      Guam      0      0      0      0  48274
48   48                 Louisiana  47905  46145  45146  45727  44555
49   49                New Mexico  47169  46744  46748  45382  44803
50   50                  Arkansas  47062  45869  44334  41995  41262
51   51               Mississippi  44717  43529  41754  40593  39680
52   52             West Virginia  44097  43469  43385  42019  41059
53   53     Virgin Islands (U.S.)      0      0      0      0  37254
54   54            American Samoa      0      0      0      0  23892
55   55  Northern Mariana Islands      0      0      0      0  19958
56   56               Puerto Rico  20296  19343  20078  18626  18928

## Mergeing the Data

on = column name

left_on = column name of base data frame

right_on = column name of merging data frame

left_index = True if you are using the index of the base dataframe to merge

right_index = True if you are using the index of the merging dataframe to merge

how=
    
    -left = keep all data from base dataframe, keep data from merging dataframe only if it merges
    -right = keep all data from merging dataframe, keep data from base dataframe only if it merges
    -inner = keep only merging data
    -outer = keep all data
    
indicator = True if you want to create a variable _ merge that says where the observation came from

In [11]:
help(pd.merge)

Help on function merge in module pandas.core.reshape.merge:

merge(left, right, how: str = 'inner', on=None, left_on=None, right_on=None, left_index: bool = False, right_index: bool = False, sort: bool = False, suffixes=('_x', '_y'), copy: bool = True, indicator: bool = False, validate=None) -> 'DataFrame'
    Merge DataFrame or named Series objects with a database-style join.

    The join is done on columns or indexes. If joining columns on
    columns, the DataFrame indexes *will be ignored*. Otherwise if joining indexes
    on indexes or indexes on a column or columns, the index will be passed on.
    When performing a cross merge, no column specifications to merge on are
    allowed.

    Parameters
    ----------
    left : DataFrame
    right : DataFrame or named Series
        Object to merge with.
    how : {'left', 'right', 'outer', 'inner', 'cross'}, default 'inner'
        Type of merge to be performed.

        * left: use only keys from left frame, similar to a SQL left outer join;
          preserve key order.
        * right: use only keys from right frame, similar to a SQL right outer join;
          preserve key order.
        * outer: use union of keys from both frames, similar to a SQL full outer
          join; sort keys lexicographically.
        * inner: use intersection of keys from both frames, similar to a SQL inner
          join; preserve the order of the left keys.
        * cross: creates the cartesian product from both frames, preserves the order
          of the left keys.

          .. versionadded:: 1.2.0

    on : label or list
        Column or index level names to join on. These must be found in both
        DataFrames. If `on` is None and not merging on indexes then this defaults
        to the intersection of the columns in both DataFrames.
    left_on : label or list, or array-like
        Column or index level names to join on in the left DataFrame. Can also
        be an array or list of arrays of the length of the left DataFrame.
        These arrays are treated as if they are columns.
    right_on : label or list, or array-like
        Column or index level names to join on in the right DataFrame. Can also
        be an array or list of arrays of the length of the right DataFrame.
        These arrays are treated as if they are columns.
    left_index : bool, default False
        Use the index from the left DataFrame as the join key(s). If it is a
        MultiIndex, the number of keys in the other DataFrame (either the index
        or a number of columns) must match the number of levels.
    right_index : bool, default False
        Use the index from the right DataFrame as the join key. Same caveats as
        left_index.
    sort : bool, default False
        Sort the join keys lexicographically in the result DataFrame. If False,
        the order of the join keys depends on the join type (how keyword).
    suffixes : list-like, default is ("_x", "_y")
        A length-2 sequence where each element is optionally a string
        indicating the suffix to add to overlapping column names in
        `left` and `right` respectively. Pass a value of `None` instead
        of a string to indicate that the column name from `left` or
        `right` should be left as-is, with no suffix. At least one of the
        values must not be None.
    copy : bool, default True
        If False, avoid copy if possible.
    indicator : bool or str, default False
        If True, adds a column to the output DataFrame called "_merge" with
        information on the source of each row. The column can be given a different
        name by providing a string argument. The column will have a Categorical
        type with the value of "left_only" for observations whose merge key only
        appears in the left DataFrame, "right_only" for observations
        whose merge key only appears in the right DataFrame, and "both"
        if the observation's merge key is found in both DataFrames.

    validate : str, optional
        If specified, checks if merge is of specified type.

        * "one_to_one" or "1:1": check if merge keys are unique in both
          left and right datasets.
        * "one_to_many" or "1:m": check if merge keys are unique in left
          dataset.
        * "many_to_one" or "m:1": check if merge keys are unique in right
          dataset.
        * "many_to_many" or "m:m": allowed, but does not result in checks.

    Returns
    -------
    DataFrame
        A DataFrame of the two merged objects.

    See Also
    --------
    merge_ordered : Merge with optional filling/interpolation.
    merge_asof : Merge on nearest keys.
    DataFrame.join : Similar method using indices.

    Notes
    -----
    Support for specifying index levels as the `on`, `left_on`, and
    `right_on` parameters was added in version 0.23.0
    Support for merging named Series objects was added in version 0.24.0

    Examples
    --------
    >>> df1 = pd.DataFrame({'lkey': ['foo', 'bar', 'baz', 'foo'],
    ...                     'value': [1, 2, 3, 5]})
    >>> df2 = pd.DataFrame({'rkey': ['foo', 'bar', 'baz', 'foo'],
    ...                     'value': [5, 6, 7, 8]})
    >>> df1
        lkey value
    0   foo      1
    1   bar      2
    2   baz      3
    3   foo      5
    >>> df2
        rkey value
    0   foo      5
    1   bar      6
    2   baz      7
    3   foo      8

    Merge df1 and df2 on the lkey and rkey columns. The value columns have
    the default suffixes, _x and _y, appended.

    >>> df1.merge(df2, left_on='lkey', right_on='rkey')
      lkey  value_x rkey  value_y
    0  foo        1  foo        5
    1  foo        1  foo        8
    2  foo        5  foo        5
    3  foo        5  foo        8
    4  bar        2  bar        6
    5  baz        3  baz        7

    Merge DataFrames df1 and df2 with specified left and right suffixes
    appended to any overlapping columns.

    >>> df1.merge(df2, left_on='lkey', right_on='rkey',
    ...           suffixes=('_left', '_right'))
      lkey  value_left rkey  value_right
    0  foo           1  foo            5
    1  foo           1  foo            8
    2  foo           5  foo            5
    3  foo           5  foo            8
    4  bar           2  bar            6
    5  baz           3  baz            7

    Merge DataFrames df1 and df2, but raise an exception if the DataFrames have
    any overlapping columns.

    >>> df1.merge(df2, left_on='lkey', right_on='rkey', suffixes=(False, False))
    Traceback (most recent call last):
    ...
    ValueError: columns overlap but no suffix specified:
        Index(['value'], dtype='object')

    >>> df1 = pd.DataFrame({'a': ['foo', 'bar'], 'b': [1, 2]})
    >>> df2 = pd.DataFrame({'a': ['foo', 'baz'], 'c': [3, 4]})
    >>> df1
          a  b
    0   foo  1
    1   bar  2
    >>> df2
          a  c
    0   foo  3
    1   baz  4

    >>> df1.merge(df2, how='inner', on='a')
          a  b  c
    0   foo  1  3

    >>> df1.merge(df2, how='left', on='a')
          a  b  c
    0   foo  1  3.0
    1   bar  2  NaN

    >>> df1 = pd.DataFrame({'left': ['foo', 'bar']})
    >>> df2 = pd.DataFrame({'right': [7, 8]})
    >>> df1
        left
    0   foo
    1   bar
    >>> df2
        right
    0   7
    1   8

    >>> df1.merge(df2, how='cross')
       left  right
    0   foo      7
    1   foo      8
    2   bar      7
    3   bar      8

Let's merge area_df to inc_df keeping all income data, but deleting area data that doesn't match.

In [12]:
inc_df.head()

  Rank State or territory   2018   2017   2016   2015   2014
0    1   Washington, D.C.  85203  82372  75506  75628  71648
1    2           Maryland  83242  80776  78945  75847  73971
2    3         New Jersey  81740  80088  76126  72222  71919
3    4             Hawaii  80212  77765  74511  73486  69592
4    5      Massachusetts  79835  77385  75297  70628  69160

In [13]:
area_df.head()

        State Rank      sq mi
0      Alaska    1  665384.04
1       Texas    2  268596.46
2  California    3  163694.74
3     Montana    4  147039.71
4  New Mexico    5  121590.30

In [14]:
merger_df = inc_df.merge(area_df, left_on='State or territory', right_on='State', how='left', indicator=True)
merger_df.head()

,Rank_x,State or territory,2018,2017,2016,2015,2014,State,Rank_y,sq mi,_merge
0,1,"Washington, D.C.",85203,82372,75506,75628,71648,NaN,NaN,NaN,left_only
1,2,Maryland,83242,80776,78945,75847,73971,Maryland,42,12405.93,both
2,3,New Jersey,81740,80088,76126,72222,71919,New Jersey,47,8722.58,both
3,4,Hawaii,80212,77765,74511,73486,69592,Hawaii,43,10931.72,both
4,5,Massachusetts,79835,77385,75297,70628,69160,Massachusetts,44,10554.39,both

In [15]:
merger_df

,Rank_x,State or territory,2018,2017,2016,2015,2014,State,Rank_y,sq mi,_merge
0,1,"Washington, D.C.",85203,82372,75506,75628,71648,NaN,NaN,NaN,left_only
1,2,Maryland,83242,80776,78945,75847,73971,Maryland,42,12405.93,both
2,3,New Jersey,81740,80088,76126,72222,71919,New Jersey,47,8722.58,both
3,4,Hawaii,80212,77765,74511,73486,69592,Hawaii,43,10931.72,both
4,5,Massachusetts,79835,77385,75297,70628,69160,Massachusetts,44,10554.39,both
5,6,Connecticut,76348,74168,73433,71346,70048,Connecticut,48,5543.41,both
6,7,California,75277,71805,67739,64500,61933,California,3,163694.74,both
7,8,New Hampshire,74991,73381,70936,70303,66532,New Hampshire,46,9349.16,both
8,9,Alaska,74346,73181,76440,73355,71583,Alaska,1,665384.04,both
9,10,Washington,74073,70979,67106,64129,61366,Washington,18,71297.95,both
10,11,Virginia,72577,71535,68114,66262,64902,Virginia,35,42774.93,both
11,12,Colorado,71953,69117,65685,63909,61303,Colorado,8,104093.67,both
12,13,Utah,71414,65358,65977,62912,60922,Utah,13,84896.88,both
13,14,Minnesota,70315,68388,65599,63488,61481,Minnesota,12,86935.83,both
14,15,New York,67844,64894,62909,60850,58878,New York,27,54554.98,both
15,16,Illinois,65030,62992,60960,59588,57444,Illinois,25,57913.55,both
16,17,Delaware,64805,62852,61757,61255,59716,Delaware,49,2488.72,both
17,18,Rhode Island,64340,63870,60596,58073,54891,Rhode Island,50,1544.89,both
18,19,North Dakota,63837,61843,60656,60557,59029,North Dakota,19,70698.32,both
19,20,Oregon,63426,60212,57532,54148,51075,Oregon,9,98378.54,both
20,â€”,United States,63179,60336,57617,55775,53657,NaN,NaN,NaN,left_only
21,21,Wyoming,61584,60434,59882,60214,57055,Wyoming,10,97813.01,both
22,22,Pennsylvania,60905,59105,56907,55702,53234,Pennsylvania,33,46054.34,both
23,23,Vermont,60782,57513,57677,56990,54166,Vermont,45,9616.36,both
24,24,Wisconsin,60773,59305,56811,55638,52622,Wisconsin,23,65496.38,both
25,25,Texas,60629,59206,56565,55653,53035,Texas,2,268596.46,both
26,26,Iowa,59955,58570,56247,54736,53712,Iowa,26,56272.81,both
27,27,Nebraska,59566,59970,56927,54996,52686,Nebraska,16,77347.81,both
28,28,Arizona,59246,56581,53558,51492,50068,Arizona,6,113990.30,both
29,29,Georgia,58756,56183,53559,51244,49321,Georgia,24,59425.15,both
30,30,Nevada,58646,58003,55180,52431,51450,Nevada,7,110571.82,both
31,31,Kansas,58218,56422,54935,53906,52504,Kansas,15,82278.36,both
32,32,Michigan,56697,54909,52491,51084,49847,Michigan,11,96713.51,both
33,33,South Dakota,56274,56521,54467,53017,50979,South Dakota,17,77115.68,both
34,34,Ohio,56111,54021,52344,51075,49308,Ohio,34,44825.58,both
35,35,Indiana,55746,54181,52314,50532,49446,Indiana,38,36419.55,both
36,36,Maine,55602,55277,53079,51494,49462,Maine,39,35379.74,both
37,37,Idaho,55583,52225,51807,48275,47861,Idaho,14,83568.95,both
38,38,Florida,55462,52594,50860,49426,47463,Florida,22,65757.70,both
39,39,Montana,55328,53386,50027,49509,46328,Montana,4,147039.71,both
40,40,Missouri,54478,53578,51746,50238,48363,Missouri,21,69706.99,both
41,41,North Carolina,53855,52752,50584,47830,46556,North Carolina,28,53819.16,both
42,42,Tennessee,52375,51340,48547,47275,44361,Tennessee,36,42144.25,both
43,43,South Carolina,52306,50570,49501,47238,45238,South Carolina,40,32020.49,both
44,44,Oklahoma,51924,50051,49176,48568,47529,Oklahoma,20,69898.87,both
45,45,Kentucky,50247,48375,46659,45215,42958,Kentucky,37,40407.80,both
46,46,Alabama,49861,48123,46257,44765,42830,Alabama,30,52420.07,both
47,47,Guam,0,0,0,0,48274,NaN,NaN,NaN,left_only
48,48,Louisiana,47905,46145,45146,45727,44555,Louisiana,31,52378.13,both
49,49,New Mexico,47169,46744,46748,45382,44803,New Mexico,5,121590.30,both
50,50,Arkansas,47062,45869,44334,41995,41262,Arkansas,29,53178.55,both
51,51,Mississippi,44717,43529,41754,40593,39680,Mississippi,32,48431.78,both
52,52,West Virginia,44097,43469,43385,42019,41059,West Virginia,41,24230.04,both
53,53,Virgin Islands (U.S.),0,0,0,0,37254,NaN,NaN,NaN,left_only
54,54,American Samoa,0,0,0,0,23892,NaN,NaN,NaN,left_only
55,55,Northern Mariana Islands,0,0,0,0,19958,NaN,NaN,NaN,left_only
56,56,Puerto Rico,20296,19343,20078,18626,18928,NaN,NaN,NaN,left_only

Oh no! Looks like Washington, D.C. did't merge. Turns out the tables used a different naming convention. Let's fix that.

Also, note the new names for Rank. Because Rank is in both dfs and we didn't merge on it, pandas renamed them so both will remain in the merged df.

In [16]:
inc_df['State or territory']=inc_df['State or territory'].replace('Washington, D.C.', 'District of Columbia')

Let's try that one more time

In [17]:
new_merge = inc_df.merge(area_df, left_on='State or territory', right_on='State', how='left', indicator=True)
new_merge.head()

,Rank_x,State or territory,2018,2017,2016,2015,2014,State,Rank_y,sq mi,_merge
0,1,District of Columbia,85203,82372,75506,75628,71648,District of Columbia,â€”,68.34,both
1,2,Maryland,83242,80776,78945,75847,73971,Maryland,42,12405.93,both
2,3,New Jersey,81740,80088,76126,72222,71919,New Jersey,47,8722.58,both
3,4,Hawaii,80212,77765,74511,73486,69592,Hawaii,43,10931.72,both
4,5,Massachusetts,79835,77385,75297,70628,69160,Massachusetts,44,10554.39,both

We can also merge on multiple columns. For fun, let's see if any of the States have the same rank when it comes to income and total area. To only keep data that merged we specify how='inner'

In [18]:
merge_same_position=inc_df.merge(area_df, left_on=['State or territory', 'Rank'], 
                                 right_on=['State', 'Rank'], how='inner')
merge_same_position

,Rank,State or territory,2018,2017,2016,2015,2014,State,sq mi
0,13,Utah,71414,65358,65977,62912,60922,Utah,84896.88
1,19,North Dakota,63837,61843,60656,60557,59029,North Dakota,70698.32
2,26,Iowa,59955,58570,56247,54736,53712,Iowa,56272.81
3,34,Ohio,56111,54021,52344,51075,49308,Ohio,44825.58

Looks like we have 4 matches! These are very special states, so lets use concat to double them up.

Concat is very easy, just put the two (or more) dataframes you want to concatenate into a list and there you have it!

In [19]:
double_merge=pd.concat([merge_same_position,merge_same_position])
double_merge

,Rank,State or territory,2018,2017,2016,2015,2014,State,sq mi
0,13,Utah,71414,65358,65977,62912,60922,Utah,84896.88
1,19,North Dakota,63837,61843,60656,60557,59029,North Dakota,70698.32
2,26,Iowa,59955,58570,56247,54736,53712,Iowa,56272.81
3,34,Ohio,56111,54021,52344,51075,49308,Ohio,44825.58
0,13,Utah,71414,65358,65977,62912,60922,Utah,84896.88
1,19,North Dakota,63837,61843,60656,60557,59029,North Dakota,70698.32
2,26,Iowa,59955,58570,56247,54736,53712,Iowa,56272.81
3,34,Ohio,56111,54021,52344,51075,49308,Ohio,44825.58

By the way this is what the results of a concat look like when the dataframes don't share the same columns. NaN's are filled into the columns that are not shared.

In [20]:
pd.concat([merge_same_position, area_df])

,Rank,State or territory,2018,2017,2016,2015,2014,State,sq mi
0,13,Utah,71414,65358,65977,62912,60922,Utah,84896.88
1,19,North Dakota,63837,61843,60656,60557,59029,North Dakota,70698.32
2,26,Iowa,59955,58570,56247,54736,53712,Iowa,56272.81
3,34,Ohio,56111,54021,52344,51075,49308,Ohio,44825.58
0,1,NaN,NaN,NaN,NaN,NaN,NaN,Alaska,665384.04
1,2,NaN,NaN,NaN,NaN,NaN,NaN,Texas,268596.46
2,3,NaN,NaN,NaN,NaN,NaN,NaN,California,163694.74
3,4,NaN,NaN,NaN,NaN,NaN,NaN,Montana,147039.71
4,5,NaN,NaN,NaN,NaN,NaN,NaN,New Mexico,121590.30
5,6,NaN,NaN,NaN,NaN,NaN,NaN,Arizona,113990.30
6,7,NaN,NaN,NaN,NaN,NaN,NaN,Nevada,110571.82
7,8,NaN,NaN,NaN,NaN,NaN,NaN,Colorado,104093.67
8,9,NaN,NaN,NaN,NaN,NaN,NaN,Oregon,98378.54
9,10,NaN,NaN,NaN,NaN,NaN,NaN,Wyoming,97813.01
10,11,NaN,NaN,NaN,NaN,NaN,NaN,Michigan,96713.51
11,12,NaN,NaN,NaN,NaN,NaN,NaN,Minnesota,86935.83
12,13,NaN,NaN,NaN,NaN,NaN,NaN,Utah,84896.88
13,14,NaN,NaN,NaN,NaN,NaN,NaN,Idaho,83568.95
14,15,NaN,NaN,NaN,NaN,NaN,NaN,Kansas,82278.36
15,16,NaN,NaN,NaN,NaN,NaN,NaN,Nebraska,77347.81
16,17,NaN,NaN,NaN,NaN,NaN,NaN,South Dakota,77115.68
17,18,NaN,NaN,NaN,NaN,NaN,NaN,Washington,71297.95
18,19,NaN,NaN,NaN,NaN,NaN,NaN,North Dakota,70698.32
19,20,NaN,NaN,NaN,NaN,NaN,NaN,Oklahoma,69898.87
20,21,NaN,NaN,NaN,NaN,NaN,NaN,Missouri,69706.99
21,22,NaN,NaN,NaN,NaN,NaN,NaN,Florida,65757.70
22,23,NaN,NaN,NaN,NaN,NaN,NaN,Wisconsin,65496.38
23,24,NaN,NaN,NaN,NaN,NaN,NaN,Georgia,59425.15
24,25,NaN,NaN,NaN,NaN,NaN,NaN,Illinois,57913.55
25,26,NaN,NaN,NaN,NaN,NaN,NaN,Iowa,56272.81
26,27,NaN,NaN,NaN,NaN,NaN,NaN,New York,54554.98
27,28,NaN,NaN,NaN,NaN,NaN,NaN,North Carolina,53819.16
28,29,NaN,NaN,NaN,NaN,NaN,NaN,Arkansas,53178.55
29,30,NaN,NaN,NaN,NaN,NaN,NaN,Alabama,52420.07
30,31,NaN,NaN,NaN,NaN,NaN,NaN,Louisiana,52378.13
31,32,NaN,NaN,NaN,NaN,NaN,NaN,Mississippi,48431.78
32,33,NaN,NaN,NaN,NaN,NaN,NaN,Pennsylvania,46054.34
33,34,NaN,NaN,NaN,NaN,NaN,NaN,Ohio,44825.58
34,35,NaN,NaN,NaN,NaN,NaN,NaN,Virginia,42774.93
35,36,NaN,NaN,NaN,NaN,NaN,NaN,Tennessee,42144.25
36,37,NaN,NaN,NaN,NaN,NaN,NaN,Kentucky,40407.80
37,38,NaN,NaN,NaN,NaN,NaN,NaN,Indiana,36419.55
38,39,NaN,NaN,NaN,NaN,NaN,NaN,Maine,35379.74
39,40,NaN,NaN,NaN,NaN,NaN,NaN,South Carolina,32020.49
40,41,NaN,NaN,NaN,NaN,NaN,NaN,West Virginia,24230.04
41,42,NaN,NaN,NaN,NaN,NaN,NaN,Maryland,12405.93
42,43,NaN,NaN,NaN,NaN,NaN,NaN,Hawaii,10931.72
43,44,NaN,NaN,NaN,NaN,NaN,NaN,Massachusetts,10554.39
44,45,NaN,NaN,NaN,NaN,NaN,NaN,Vermont,9616.36
45,46,NaN,NaN,NaN,NaN,NaN,NaN,New Hampshire,9349.16
46,47,NaN,NaN,NaN,NaN,NaN,NaN,New Jersey,8722.58
47,48,NaN,NaN,NaN,NaN,NaN,NaN,Connecticut,5543.41
48,49,NaN,NaN,NaN,NaN,NaN,NaN,Delaware,2488.72
49,50,NaN,NaN,NaN,NaN,NaN,NaN,Rhode Island,1544.89
50,â€”,NaN,NaN,NaN,NaN,NaN,NaN,District of Columbia,68.34

Back to the special states, it looks like the incomes are not integers

In [21]:
double_merge.dtypes

Rank                   object
State or territory     object
2018                   object
2017                   object
2016                   object
2015                   object
2014                   object
State                  object
sq mi                 float64
dtype: object

I want to create a new column that contains the summation of income over all available years. Let's do that with our old friend apply! And while we're at it, let's use .loc to only keep this new variable and the state names.

In [22]:
double_merge['total'] = double_merge.apply(lambda x: sum(int(yr) for yr in x[3:7]), axis=1)
total_inc = double_merge.loc[:,['State or territory', 'total']]
total_inc

  State or territory   total
0               Utah  255169
1       North Dakota  242085
2               Iowa  223265
3               Ohio  206748
0               Utah  255169
1       North Dakota  242085
2               Iowa  223265
3               Ohio  206748

Now let's merge this new column into inc_df, but only keeping inc_df data and double data that matches

In [23]:
with_total = inc_df.merge(total_inc, on='State or territory', how='left', indicator=True)

Hmmm... It looks like extra data was added. Let's investigate!

In [24]:
len(with_total) == len(inc_df)

False

It looks like both sets of double were merged! That's because pd.merge does a many to many merge

In [25]:
with_total[with_total['_merge']=='both']

   Rank State or territory   2018   2017   2016   2015   2014     total _merge
12   13               Utah  71414  65358  65977  62912  60922  255169.0   both
13   13               Utah  71414  65358  65977  62912  60922  255169.0   both
19   19       North Dakota  63837  61843  60656  60557  59029  242085.0   both
20   19       North Dakota  63837  61843  60656  60557  59029  242085.0   both
28   26               Iowa  59955  58570  56247  54736  53712  223265.0   both
29   26               Iowa  59955  58570  56247  54736  53712  223265.0   both
37   34               Ohio  56111  54021  52344  51075  49308  206748.0   both
38   34               Ohio  56111  54021  52344  51075  49308  206748.0   both

## Reshaping Data

First, let's turn the income data into long data!

In [26]:
inc_df.head()

  Rank    State or territory   2018   2017   2016   2015   2014
0    1  District of Columbia  85203  82372  75506  75628  71648
1    2              Maryland  83242  80776  78945  75847  73971
2    3            New Jersey  81740  80088  76126  72222  71919
3    4                Hawaii  80212  77765  74511  73486  69592
4    5         Massachusetts  79835  77385  75297  70628  69160

The first method we'll go over uses a stub. While we could use 20 as the stub, I think it makes more sense to just add a stub

In [27]:
inc_stub_df = inc_df.copy()
for year in inc_stub_df.columns[2:]:
    inc_stub_df = inc_stub_df.rename({year: f'income{year}'},axis=1)
inc_stub_df.head()

,Rank,State or territory,income2018,income2017,income2016,income2015,income2014
0,1,District of Columbia,85203,82372,75506,75628,71648
1,2,Maryland,83242,80776,78945,75847,73971
2,3,New Jersey,81740,80088,76126,72222,71919
3,4,Hawaii,80212,77765,74511,73486,69592
4,5,Massachusetts,79835,77385,75297,70628,69160

wide_to_long, as the name suggests, will turn a dataset wide data set into a long data set.

stubnames = the name of the stub, these will become new columns

i = the column that contains the identifying info, this column will turn into an index

j = the new name for what were the column names, this will also become an index

In [28]:
long_inc=pd.wide_to_long(inc_stub_df, stubnames='income', i='State or territory', j='year')
long_inc

                              Rank income
State or territory       year
District of Columbia     2018    1  85203
Maryland                 2018    2  83242
New Jersey               2018    3  81740
Hawaii                   2018    4  80212
Massachusetts            2018    5  79835
...                            ...    ...
West Virginia            2014   52  41059
Virgin Islands (U.S.)    2014   53  37254
American Samoa           2014   54  23892
Northern Mariana Islands 2014   55  19958
Puerto Rico              2014   56  18928

[285 rows x 2 columns]

If we want the indexes back in the df as columns, we can do so with .reset_index(inplace=True)

In [29]:
long_inc.reset_index(inplace=True)
long_inc.head()

     State or territory  year Rank income
0  District of Columbia  2018    1  85203
1              Maryland  2018    2  83242
2            New Jersey  2018    3  81740
3                Hawaii  2018    4  80212
4         Massachusetts  2018    5  79835

Melt is the other method to reshape wide to long, which does not require stubnames.

id_vars = the columns that should stay the same

value_vars = columns that you want to reshape

var_name = the name of what were the columns

value_name = the name of what were the values

In [30]:
help(pd.melt)

Help on function melt in module pandas.core.reshape.melt:

melt(frame: 'DataFrame', id_vars=None, value_vars=None, var_name=None, value_name='value', col_level=None, ignore_index: bool = True) -> 'DataFrame'
    Unpivot a DataFrame from wide to long format, optionally leaving identifiers set.

    This function is useful to massage a DataFrame into a format where one
    or more columns are identifier variables (`id_vars`), while all other
    columns, considered measured variables (`value_vars`), are "unpivoted" to
    the row axis, leaving just two non-identifier columns, 'variable' and
    'value'.

    Parameters
    ----------
    id_vars : tuple, list, or ndarray, optional
        Column(s) to use as identifier variables.
    value_vars : tuple, list, or ndarray, optional
        Column(s) to unpivot. If not specified, uses all columns that
        are not set as `id_vars`.
    var_name : scalar
        Name to use for the 'variable' column. If None it uses
        ``frame.columns.name`` or 'variable'.
    value_name : scalar, default 'value'
        Name to use for the 'value' column.
    col_level : int or str, optional
        If columns are a MultiIndex then use this level to melt.
    ignore_index : bool, default True
        If True, original index is ignored. If False, the original index is retained.
        Index labels will be repeated as necessary.

        .. versionadded:: 1.1.0

    Returns
    -------
    DataFrame
        Unpivoted DataFrame.

    See Also
    --------
    DataFrame.melt : Identical method.
    pivot_table : Create a spreadsheet-style pivot table as a DataFrame.
    DataFrame.pivot : Return reshaped DataFrame organized
        by given index / column values.
    DataFrame.explode : Explode a DataFrame from list-like
            columns to long format.

    Examples
    --------
    >>> df = pd.DataFrame({'A': {0: 'a', 1: 'b', 2: 'c'},
    ...                    'B': {0: 1, 1: 3, 2: 5},
    ...                    'C': {0: 2, 1: 4, 2: 6}})
    >>> df
       A  B  C
    0  a  1  2
    1  b  3  4
    2  c  5  6

    >>> pd.melt(df, id_vars=['A'], value_vars=['B'])
       A variable  value
    0  a        B      1
    1  b        B      3
    2  c        B      5

    >>> pd.melt(df, id_vars=['A'], value_vars=['B', 'C'])
       A variable  value
    0  a        B      1
    1  b        B      3
    2  c        B      5
    3  a        C      2
    4  b        C      4
    5  c        C      6

    The names of 'variable' and 'value' columns can be customized:

    >>> pd.melt(df, id_vars=['A'], value_vars=['B'],
    ...         var_name='myVarname', value_name='myValname')
       A myVarname  myValname
    0  a         B          1
    1  b         B          3
    2  c         B          5

    Original index values can be kept around:

    >>> pd.melt(df, id_vars=['A'], value_vars=['B', 'C'], ignore_index=False)
       A variable  value
    0  a        B      1
    1  b        B      3
    2  c        B      5
    0  a        C      2
    1  b        C      4
    2  c        C      6

    If you have multi-index columns:

    >>> df.columns = [list('ABC'), list('DEF')]
    >>> df
       A  B  C
       D  E  F
    0  a  1  2
    1  b  3  4
    2  c  5  6

    >>> pd.melt(df, col_level=0, id_vars=['A'], value_vars=['B'])
       A variable  value
    0  a        B      1
    1  b        B      3
    2  c        B      5

    >>> pd.melt(df, id_vars=[('A', 'D')], value_vars=[('B', 'E')])
      (A, D) variable_0 variable_1  value
    0      a          B          E      1
    1      b          B          E      3
    2      c          B          E      5

In [31]:
inc_df.head()

  Rank    State or territory   2018   2017   2016   2015   2014
0    1  District of Columbia  85203  82372  75506  75628  71648
1    2              Maryland  83242  80776  78945  75847  73971
2    3            New Jersey  81740  80088  76126  72222  71919
3    4                Hawaii  80212  77765  74511  73486  69592
4    5         Massachusetts  79835  77385  75297  70628  69160

Let's melt inc_df!

In [32]:
inc_df.melt(id_vars=['State or territory','Rank'], value_vars=inc_df.columns[2:], 
            var_name='year', value_name='income')

           State or territory Rank  year income
0        District of Columbia    1  2018  85203
1                    Maryland    2  2018  83242
2                  New Jersey    3  2018  81740
3                      Hawaii    4  2018  80212
4               Massachusetts    5  2018  79835
..                        ...  ...   ...    ...
280             West Virginia   52  2014  41059
281     Virgin Islands (U.S.)   53  2014  37254
282            American Samoa   54  2014  23892
283  Northern Mariana Islands   55  2014  19958
284               Puerto Rico   56  2014  18928

[285 rows x 4 columns]

In [33]:
long_inc.head()

     State or territory  year Rank income
0  District of Columbia  2018    1  85203
1              Maryland  2018    2  83242
2            New Jersey  2018    3  81740
3                Hawaii  2018    4  80212
4         Massachusetts  2018    5  79835

But what if we want to turn long data into wide data? That's where pivot comes in!

index = columns that should serve as ids they will be moved to the index

columns = the columns that contain the values that will become column names

values = the values that will populate the newly formed columns

In [34]:
inc_wide = long_inc.pivot(index=['State or territory', 'Rank'], columns='year', values='income')

In [35]:
inc_wide

year                            2014   2015   2016   2017   2018
State or territory       Rank
Alabama                  46    42830  44765  46257  48123  49861
Alaska                   9     71583  73355  76440  73181  74346
American Samoa           54    23892      0      0      0      0
Arizona                  28    50068  51492  53558  56581  59246
Arkansas                 50    41262  41995  44334  45869  47062
California               7     61933  64500  67739  71805  75277
Colorado                 12    61303  63909  65685  69117  71953
Connecticut              6     70048  71346  73433  74168  76348
Delaware                 17    59716  61255  61757  62852  64805
District of Columbia     1     71648  75628  75506  82372  85203
Florida                  38    47463  49426  50860  52594  55462
Georgia                  29    49321  51244  53559  56183  58756
Guam                     47    48274      0      0      0      0
Hawaii                   4     69592  73486  74511  77765  80212
Idaho                    37    47861  48275  51807  52225  55583
Illinois                 16    57444  59588  60960  62992  65030
Indiana                  35    49446  50532  52314  54181  55746
Iowa                     26    53712  54736  56247  58570  59955
Kansas                   31    52504  53906  54935  56422  58218
Kentucky                 45    42958  45215  46659  48375  50247
Louisiana                48    44555  45727  45146  46145  47905
Maine                    36    49462  51494  53079  55277  55602
Maryland                 2     73971  75847  78945  80776  83242
Massachusetts            5     69160  70628  75297  77385  79835
Michigan                 32    49847  51084  52491  54909  56697
Minnesota                14    61481  63488  65599  68388  70315
Mississippi              51    39680  40593  41754  43529  44717
Missouri                 40    48363  50238  51746  53578  54478
Montana                  39    46328  49509  50027  53386  55328
Nebraska                 27    52686  54996  56927  59970  59566
Nevada                   30    51450  52431  55180  58003  58646
New Hampshire            8     66532  70303  70936  73381  74991
New Jersey               3     71919  72222  76126  80088  81740
New Mexico               49    44803  45382  46748  46744  47169
New York                 15    58878  60850  62909  64894  67844
North Carolina           41    46556  47830  50584  52752  53855
North Dakota             19    59029  60557  60656  61843  63837
Northern Mariana Islands 55    19958      0      0      0      0
Ohio                     34    49308  51075  52344  54021  56111
Oklahoma                 44    47529  48568  49176  50051  51924
Oregon                   20    51075  54148  57532  60212  63426
Pennsylvania             22    53234  55702  56907  59105  60905
Puerto Rico              56    18928  18626  20078  19343  20296
Rhode Island             18    54891  58073  60596  63870  64340
South Carolina           43    45238  47238  49501  50570  52306
South Dakota             33    50979  53017  54467  56521  56274
Tennessee                42    44361  47275  48547  51340  52375
Texas                    25    53035  55653  56565  59206  60629
United States            â€”     53657  55775  57617  60336  63179
Utah                     13    60922  62912  65977  65358  71414
Vermont                  23    54166  56990  57677  57513  60782
Virgin Islands (U.S.)    53    37254      0      0      0      0
Virginia                 11    64902  66262  68114  71535  72577
Washington               10    61366  64129  67106  70979  74073
West Virginia            52    41059  42019  43385  43469  44097
Wisconsin                24    52622  55638  56811  59305  60773
Wyoming                  21    57055  60214  59882  60434  61584

Let's fix that index again!

In [36]:
inc_wide.reset_index(inplace=True)
inc_wide.head()

year State or territory Rank   2014   2015   2016   2017   2018
0               Alabama   46  42830  44765  46257  48123  49861
1                Alaska    9  71583  73355  76440  73181  74346
2        American Samoa   54  23892      0      0      0      0
3               Arizona   28  50068  51492  53558  56581  59246
4              Arkansas   50  41262  41995  44334  45869  47062

It looks like the order was mixed up! We can sort it by rank again by using sort_values

But oh no it didn't work! That's because Rank is not populated with numbers, they're object class so the sorting is different.

In [37]:
inc_wide.sort_values('Rank')

year        State or territory Rank   2014   2015   2016   2017   2018
9         District of Columbia    1  71648  75628  75506  82372  85203
53                  Washington   10  61366  64129  67106  70979  74073
52                    Virginia   11  64902  66262  68114  71535  72577
6                     Colorado   12  61303  63909  65685  69117  71953
49                        Utah   13  60922  62912  65977  65358  71414
25                   Minnesota   14  61481  63488  65599  68388  70315
34                    New York   15  58878  60850  62909  64894  67844
15                    Illinois   16  57444  59588  60960  62992  65030
8                     Delaware   17  59716  61255  61757  62852  64805
43                Rhode Island   18  54891  58073  60596  63870  64340
36                North Dakota   19  59029  60557  60656  61843  63837
22                    Maryland    2  73971  75847  78945  80776  83242
40                      Oregon   20  51075  54148  57532  60212  63426
56                     Wyoming   21  57055  60214  59882  60434  61584
41                Pennsylvania   22  53234  55702  56907  59105  60905
50                     Vermont   23  54166  56990  57677  57513  60782
55                   Wisconsin   24  52622  55638  56811  59305  60773
47                       Texas   25  53035  55653  56565  59206  60629
17                        Iowa   26  53712  54736  56247  58570  59955
29                    Nebraska   27  52686  54996  56927  59970  59566
3                      Arizona   28  50068  51492  53558  56581  59246
11                     Georgia   29  49321  51244  53559  56183  58756
32                  New Jersey    3  71919  72222  76126  80088  81740
30                      Nevada   30  51450  52431  55180  58003  58646
18                      Kansas   31  52504  53906  54935  56422  58218
24                    Michigan   32  49847  51084  52491  54909  56697
45                South Dakota   33  50979  53017  54467  56521  56274
38                        Ohio   34  49308  51075  52344  54021  56111
16                     Indiana   35  49446  50532  52314  54181  55746
21                       Maine   36  49462  51494  53079  55277  55602
14                       Idaho   37  47861  48275  51807  52225  55583
10                     Florida   38  47463  49426  50860  52594  55462
28                     Montana   39  46328  49509  50027  53386  55328
13                      Hawaii    4  69592  73486  74511  77765  80212
27                    Missouri   40  48363  50238  51746  53578  54478
35              North Carolina   41  46556  47830  50584  52752  53855
46                   Tennessee   42  44361  47275  48547  51340  52375
44              South Carolina   43  45238  47238  49501  50570  52306
39                    Oklahoma   44  47529  48568  49176  50051  51924
19                    Kentucky   45  42958  45215  46659  48375  50247
0                      Alabama   46  42830  44765  46257  48123  49861
12                        Guam   47  48274      0      0      0      0
20                   Louisiana   48  44555  45727  45146  46145  47905
33                  New Mexico   49  44803  45382  46748  46744  47169
23               Massachusetts    5  69160  70628  75297  77385  79835
4                     Arkansas   50  41262  41995  44334  45869  47062
26                 Mississippi   51  39680  40593  41754  43529  44717
54               West Virginia   52  41059  42019  43385  43469  44097
51       Virgin Islands (U.S.)   53  37254      0      0      0      0
2               American Samoa   54  23892      0      0      0      0
37    Northern Mariana Islands   55  19958      0      0      0      0
42                 Puerto Rico   56  18928  18626  20078  19343  20296
7                  Connecticut    6  70048  71346  73433  74168  76348
5                   California    7  61933  64500  67739  71805  75277
31               New Hampshire    8  66532  70303  70936  73381  74991
1                       Alaska    9  71583  73355  76440  73181  74346
48               United States    â€”  53657  55775  57617  60336  63179