# House Keeping: 
### You should commit your code multiple times
### Don't worry about your lab attendence not being put in yet

# Data Types:

## - Numeric:
   ### 1.) Integers,
   ### 2.) Floats,
## - Booleans
## - Strings
## - List-like:
   ### 1.) Lists,
   ### 2.) Tuples,
   ### 3.) Sets
## - Dictionaries
## - Dates

Imports:

Remember to always put imports at the top of the code

In [1]:
import datetime

### Numeric

int class is reserved for whole number integers, while float contains decimal places

In [2]:
x=2
y=2.0

In [3]:
print(type(x))
print(type(y))

<class 'int'>
<class 'float'>

In [4]:
print(x+y)
print(x-10)
print(y/30)
print(x*y)
print(((x+7)/y)-20/2)

4.0
-8
0.06666666666666667
4.0
-5.5

Interacting float with int will result in float

In [5]:
print(x**y, type(x**y))

4.0 <class 'float'>

In [6]:
print(x/4, type(x/4))

0.5 <class 'float'>

Uses for syntactic sugar

In [7]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [8]:
for i in range(10):
    x+=1

print(x)

12

### Booleans
True or False

In [9]:
x = 2
y = 2.0
print(x == x)
print(x == y)

True
True

Data types matter

In [10]:
print(type('2'))
print(2 == '2')
print(str(2) == '2')
print(2 == int('2'))

<class 'str'>
False
True
True

In [11]:
x = 2
y = 4
print(x == y/2)
print(x != y)
print(x < y)
print(x <= y)

True
True
True
True

In [12]:
print('hello world' == 'Hello World')

False

### Strings

Both " or ' can be used to signify strings, chose one to mainly use for consistency.

But if the string contains " use ', if it contains ' use ".

In [13]:
ap_string = "I don't like that!"
qu_string = 'He said, "Hello!"'
print(ap_string)
print(qu_string)

I don't like that!
He said, "Hello!"

It is unlikely, but you may have both " and ' in the same string.

In [14]:
my_string = 'I don\'t like how he said "I don\'t like Mondays"!'
print(my_string)

I don't like how he said "I don't like Mondays"!

In [15]:
my_string2 = "I don't like how he said "+'"I don'+"'t like Mondays"+'"!'
print(my_string2)

I don't like how he said "I don't like Mondays"!

In [16]:
my_string3 = "I don't like how he said " '"I don' "'t like Mondays" '"!'
print(my_string3)

I don't like how he said "I don't like Mondays"!

In [17]:
print(my_string == my_string2 == my_string3)

True

In [18]:
print('hello world' == 'Hello World')
print('hello world' == 'Hello World'.lower())
print('hello world'.capitalize() == 'Hello World')

False
True
False

In [19]:
print('hello world'.capitalize())

Hello world

String formatting

In [20]:
state = 'WASHINGTON'
print(f'Hello! I live in {state.capitalize()}.')

Hello! I live in Washington.

### Lists

In [21]:
my_list = [1,2,3,4,5,6]
print(my_list)

[1, 2, 3, 4, 5, 6]

[] To index, [:] to slice the list

List slicing intervals are closed on the left, and open on the right

In [22]:
print(my_list[0])
print(my_list[0:4])
print(my_list[4:6])
print(my_list[6])

1
[1, 2, 3, 4]
[5, 6]

IndexError: list index out of range

The trace back error tells us exactly what and where we went wrong. In this case, there is no element 6.

If you are starting at the begining or ending with the last element better to do this:

In [23]:
print(my_list[:4])
print(my_list[4:])

[1, 2, 3, 4]
[5, 6]

In [24]:
print(my_list[-1])
print(my_list[::3])

6
[1, 4]

You can put anything in a list

In [25]:
mixed_list = ['string', 4.5, False, x, my_list, ['a', 'b', 'c', [1,2,3]]]
print(mixed_list)

['string', 4.5, False, 2, [1, 2, 3, 4, 5, 6], ['a', 'b', 'c', [1, 2, 3]]]

In [26]:
print(mixed_list[-1])
print(mixed_list[-1][-1])
print(mixed_list[-1][-1][2])

['a', 'b', 'c', [1, 2, 3]]
[1, 2, 3]
3

.pop() can be used to remove an element from a list

In [27]:
string = mixed_list.pop(0)
print(string)
print(mixed_list)

string
[4.5, False, 2, [1, 2, 3, 4, 5, 6], ['a', 'b', 'c', [1, 2, 3]]]

If you just want to remove a single element

In [28]:
mixed_list.pop(4)
print(mixed_list)

[4.5, False, 2, [1, 2, 3, 4, 5, 6]]

### Tuple

Immutable lists

In [29]:
num_list = [1,2,3,4]
num_tuple = (1,2,3,4)

Can't change the tuple

In [30]:
num_list[0] = 5
print(num_list)
num_tuple[0] = 5
print(num_tuple)

[5, 2, 3, 4]

TypeError: 'tuple' object does not support item assignment

However, you can still overwrite the tuple

In [31]:
print(num_tuple*2)

(1, 2, 3, 4, 1, 2, 3, 4)

In [32]:
num_tuple = num_tuple*2
print(num_tuple)

(1, 2, 3, 4, 1, 2, 3, 4)

### Sets

Lists that contain no duplicates, will change the ordering

In [33]:
num_set = {1,2,2,2,344,4,4,45,5,55,0}
print(num_set)

{0, 1, 2, 4, 5, 45, 55, 344}

In [34]:
mix_set = {1,'a','b',2,True,2,2,2,2}
print(mix_set)

{'a', 1, 'b', 2}

Cannot have lists, set, or tuples in a set. Booleans get dropped.

In [54]:
list_set = {1,3,[1,3,3]}
print(list_set)

TypeError: unhashable type: 'list'

In [35]:
print(num_tuple)
set_num_tuple = set(num_tuple)
print(set_num_tuple)

(1, 2, 3, 4, 1, 2, 3, 4)
{1, 2, 3, 4}

In [36]:
unique_tuple = tuple(set(num_tuple))
print(unique_tuple)

(1, 2, 3, 4)

### Stings

Strings behave in a similar way as lists

In [37]:
my_string = 'Today is Tuesday'
print(my_string)

Today is Tuesday

In [38]:
print(my_string[0])
print(my_string[9:])
print(my_string[:8:-1])

T
Tuesday
yadseuT

In [39]:
mixed_list = ['string', 4.5, False, x, my_list, ['a', 'b', 'c', [1,2,3]]]
print(mixed_list)

['string', 4.5, False, 2, [1, 2, 3, 4, 5, 6], ['a', 'b', 'c', [1, 2, 3]]]

In [40]:
print(mixed_list[0][0])
print(mixed_list[1][0])

s

TypeError: 'float' object is not subscriptable

### Dictionaries

In [41]:
my_dict = {'WA':12, 'IL':20, 'FL':29}
print(my_dict)

{'WA': 12, 'IL': 20, 'FL': 29}

A simple way to add elements to a dictionary.

In [42]:
new_dict = {}
new_dict['WY'] = 3
new_dict['AK'] = 3
new_dict['NY'] = 29
print(new_dict)

{'WY': 3, 'AK': 3, 'NY': 29}

A simple way to combine two dictionaries

In [43]:
total = {**my_dict, **new_dict}
print(total)

{'WA': 12, 'IL': 20, 'FL': 29, 'WY': 3, 'AK': 3, 'NY': 29}

One reason to use tuples is that they can be used as keys in a dictionary

In [44]:
list_key = {[1,2]: [1997,1998,2009], [3,4]: [2020,2054,3049]}

TypeError: unhashable type: 'list'

In [45]:
tup_key = {(1,2): [1997,1998,2009], (3,4): [2020,2054,3049]}
print(tup_key)

{(1, 2): [1997, 1998, 2009], (3, 4): [2020, 2054, 3049]}

Pulling out keys or values, and iterating over both

In [48]:
print(total.keys())
print(total.values())
print(total['WA'])

dict_keys(['WA', 'IL', 'FL', 'WY', 'AK', 'NY'])
dict_values([12, 20, 29, 3, 3, 29])
12

In [49]:
values = list(total.values())
print(values)

[12, 20, 29, 3, 3, 29]

In [50]:
for key, value in total.items():
    print(f'{key} has {value} electoral votes')

WA has 12 electoral votes
IL has 20 electoral votes
FL has 29 electoral votes
WY has 3 electoral votes
AK has 3 electoral votes
NY has 29 electoral votes

### Dates

In [51]:
independence = datetime.datetime(1776, 7, 4)
print(independence)

1776-07-04 00:00:00

In [52]:
print(independence.year)
print(independence.month)
print(independence.day)

1776
7
4

In [53]:
us_age = datetime.datetime.now() - independence
print(us_age)

89395 days, 17:54:09.897655